{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block rootmenuimportacioncubanos %}
    class="start active open"
{% endblock %}
{% block rootmenunomencladoraux %}
    <span class="selected"></span>
{% endblock %}
{% block rootmenuimportacionescubanosarrow %}
    open
{% endblock %}
{% block rootmenuexpedientes %} class="active" {% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                     <a href="#">Servicios Importación Cubanos</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('expediente_index') }}">Expedientes</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-chambray">                  
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Expedientes
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('expediente_new') }}" class="btn green">
                                            <i class="fa fa-plus"></i> Adicionar 
                                        </a>
                                    </div>
                                    <a class="btn red" id="deleteAllExpedientes" href="javascript:void(0);">
                                        <i class="fa fa-minus"></i> Eliminar todos
                                    </a> 
                                </div>
                            </div>
                        </div>
                        <form action="{{ path('expedientes_delete_all') }}" method="POST" id="expedientes">
                            <table class="datatable table table-striped table-bordered table-hover">
                                <thead>
                                    <tr class="heading">
                                        <th class="centrado">
                                            <input type="checkbox" id="selectAllExpedientes"/>
                                        </th>
                                        <th class="centrado">
                                            Número<br>de<br>expediente
                                        </th>
                                        <th class="centrado">
                                            Naviera
                                        </th>
                                        <th class="centrado">
                                            Contenedor
                                        </th>
                                        <th class="centrado">
                                            MBL
                                        </th>
                                        <th class="centrado">
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expediente in expedientes %}
                                        <tr>
                                            <td class="centrado">
                                                <input type="checkbox" value="{{ expediente.id }}" name="expedientes[]"/>
                                            </td>  
                                            <td class="centrado">{% if expediente.numeroExpediente %}{{ expediente.numeroExpediente }}{% else %}-{% endif %}</td>
                                            <td class="centrado">{% if expediente.naviera %}{{ expediente.naviera }}{% else %}-{% endif %}</td>
                                            <td class="centrado">{% if expediente.contenedor %}{{ expediente.contenedor }}{% else %}-{% endif %}</td>
                                            <td class="centrado">{% if expediente.numeroMBL %}{{ expediente.numeroMBL }}{% else %}-{% endif %}</td>   
                                            <td style="width: 40%;"  class="actions-two-button centrado formato">
                                                <a  href="{{ path('expediente_edit', {'id' :  expediente.id })}}" title="Editar">
                                                    <i class="fa fa-pencil btn btn-sm blue"></i>
                                                </a> 
                                                <a  href="{{ path('expediente_show', {'id' : expediente.id })}}" title="Ver detalle">
                                                    <i class="fa fa-search-plus btn btn-sm btn-warning"></i>
                                                </a>
                                                     <a  href="{{ path('expediente_show', {'id' : expediente.id })}}" title="Ver documentos">
                                                    <i class="fa fa-folder btn btn-sm btn-info"></i>
                                                </a>
                                                <a class="link-eliminar" href="javascript:void(0)"
                                                   data-url="{{ path('expediente_delete', { 'id': expediente.id }) }}"
                                                   data-descripcion="El expediente {{ expediente }} se eliminará del sistema."
                                                   data-toggle="modal" data-target="#modal-delete" title="Eliminar">
                                                    <span class="red">
                                                        <i class="fa fa-trash-o btn btn-sm red"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "modal-delete.html.twig" %} 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/deleteconfig.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/table-managed.js')}}"></script>
    <script>
        $(function () {
            $("#deleteAllExpedientes").click(function () {
                $("#expedientes").submit()
            })
        });
        $('#selectAllExpedientes').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {

                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}