{% extends 'base.html.twig' %}

{% block title %}TipoServicio{% endblock %}

{% block body %}
    <h1>TipoServicio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_servicio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_servicio.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ tipo_servicio.fecha ? tipo_servicio.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ tipo_servicio.fechaInsercion ? tipo_servicio.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_servicio_index') }}">back to list</a>

    <a href="{{ path('tipo_servicio_edit', {'id': tipo_servicio.id}) }}">edit</a>

    {{ include('tipo_servicio/_delete_form.html.twig') }}
{% endblock %}
