{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block rootmenucontratos %}
    class="start active open"
{% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('contrato_index') }}">Contratos</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-chambray">                  
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Contratos
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('contrato_new') }}" class="btn green">
                                            <i class="fa fa-plus"></i> Adicionar 
                                        </a>
                                    </div>
                                    <button type="submit" class="btn green-meadow" value="pdf" name="PDF">
                                        <i class="fa fa-file-pdf-o"></i> Exportar a PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="datatable table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="heading">
                                    <th class="centrado">
                                        Número<br>de<br>contrato
                                    </th>
                                    <th class="centrado">
                                        Tipo<br>de<br>contrato
                                    </th>
                                    <th class="centrado">
                                        Titular
                                    </th>
                                    <th class="centrado">
                                        Fecha<br>de<br>vencimiento
                                    </th>
                                    <th class="centrado">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contrato in contratos %}
                                    <tr>  
                                        <td class="centrado">{% if contrato.numeroContrato %}{{ contrato.numeroContrato }}{% else %}-{% endif %}</td>
                                        <td class="centrado">{% if contrato.tipoContrato %}{{ contrato.tipoContrato }}{% else %}-{% endif %}</td>
                                        <td class="centrado">{% if contrato.titular %}{{ contrato.titular }}{% else %}-{% endif %}</td>
                                        <td class="centrado">{% if contrato.fechaVencimiento %}{{ contrato.fechaVencimiento | date('d/m/Y') }}{% else %}-{% endif %}</td>
                                        <td style="width: 40%;"  class="actions-two-button centrado formato">
                                            <a  href="{{ path('contrato_edit', {'id' : contrato.id })}}" title="Editar">
                                                <i class="fa fa-pencil btn btn-sm blue"></i>
                                            </a> 
                                            <a  href="{{ path('contrato_show', {'id' : contrato.id })}}" title="Ver detalle">
                                                <i class="fa fa-search-plus btn btn-sm btn-warning"></i>
                                            </a> 
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/table-managed.js')}}"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}