{% extends 'base.html.twig' %}
{% block rootmenucontratos %}
    class="start active open"
{% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('contrato_index') }}">Contratos</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>  <a href="#">Detalle</a>  </li>          
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable tabbable-custom boxless tabbable-reversed">
                    <div class="tab-content">
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <div class="form-horizontal" role="form">
                                <div class="form-body">
                                    <h3 class="form-section">Contrato - {{ contrato  }}</h3>
                                    <div class="actions btn-set" style="float: right;margin-top: -5px;">
                                        <button class="btn-warning btn-sm blue" id="modificar">Modificar</button>
                                        <button type="button" class="btn default btn-sm" id="volveratras">  <i class="fa fa-angle-double-left"></i> Regresar</button>
                                    </div><br><br>
                                    <div class="row">

                                        <div class="col-md-12">  
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Número de contrato</strong></label>
                                                <div class="col-md-9">
                                                    <div class="control-label well" style="text-align: left">
                                                        {% autoescape false %}
                                                            {% if  contrato.numeroContrato %}{{ contrato.numeroContrato }}{% else %}-{% endif %}
                                                        {% endautoescape %}

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">  
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Titular</strong></label>
                                                <div class="col-md-9">
                                                    <div class="control-label well" style="text-align: left">
                                                        {% autoescape false %}
                                                            {% if contrato.titular %}{{ contrato.titular }}{% else %}-{% endif %}
                                                        {% endautoescape %}
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-12">  
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Tipo de contrato</strong></label>
                                                <div class="col-md-9">
                                                    <div class="control-label well" style="text-align: left">
                                                        {% autoescape false %}
                                                            {% if contrato.tipoContrato %}{{ contrato.tipoContrato  }}{% else %}-{% endif %}
                                                        {% endautoescape %}

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-12">  
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Fecha de vencimiento</strong></label>
                                                <div class="col-md-9">
                                                    <div class="control-label well" style="text-align: left">
                                                        {% autoescape false %}
                                                            {% if contrato.fechaVencimiento %}{{ contrato.fechaVencimiento | date ('d/m/Y')  }}{% else %}-{% endif %}
                                                        {% endautoescape %}

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                       <div class="col-md-12">  
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Fecha de inserción</strong></label>
                                                <div class="col-md-9">
                                                    <div class="control-label well" style="text-align: left">
                                                        {% autoescape false %}
                                                            {% if contrato.fechaInsercion %}{{ contrato.fechaInsercion | date('d/m/Y')  }}{% else %}-{% endif %}
                                                        {% endautoescape %}

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9 record_actions">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}   
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
        $("#volveratras").click(function ()
        {
            location.href = "{{ path('contrato_index') }}";
        })
        $("#modificar").click(function ()
        {
            location.href = "{{ path('contrato_edit', {'id' : contrato.id }) }}";
        })
    </script>
{% endblock %}



