{% extends 'base.html.twig' %}

{% block title %}ViaRecepcion{% endblock %}

{% block body %}
    <h1>ViaRecepcion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ via_recepcion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ via_recepcion.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ via_recepcion.fecha ? via_recepcion.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ via_recepcion.fechaInsercion ? via_recepcion.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('via_recepcion_index') }}">back to list</a>

    <a href="{{ path('via_recepcion_edit', {'id': via_recepcion.id}) }}">edit</a>

    {{ include('via_recepcion/_delete_form.html.twig') }}
{% endblock %}
