{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block  rootmenunomencladores %}
    class="start active open"
{% endblock %}
{% block rootmenunomencladoraux %}
    <span class="selected"></span>
{% endblock %}
{% block rootmenunomencladorarrow %}
    open
{% endblock %}
{% block rootmenupaises %} class="active" {% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Nomencladores</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('pais_index') }}">Países</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-chambray">                  
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Países
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('pais_new') }}" class="btn green">
                                            <i class="fa fa-plus"></i> Adicionar 
                                        </a>
                                    </div>
                                    <a class="btn red" id="deleteAllPaises" href="javascript:void(0);">
                                        <i class="fa fa-minus"></i> Eliminar todos
                                    </a> 
                                </div>
                            </div>
                        </div>
                        <form action="{{ path('paises_delete_all') }}" method="POST" id="paises">
                            <table class="datatable table table-striped table-bordered table-hover">
                                <thead>
                                    <tr class="heading">
                                        <th class="centrado">
                                            <input type="checkbox" id="selectAllPaises"/>
                                        </th>
                                        <th class="centrado">
                                            País
                                        </th>
                                        <th class="centrado">
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pais in pais %}
                                        <tr>
                                            <td class="centrado">
                                                <input type="checkbox" value="{{ pais.id }}" name="paises[]"/>
                                            </td>  
                                            <td class="centrado">{% if pais.nombre %}{{ pais.nombre }}{% else %}-{% endif %}</td>
                                            <td style="width: 40%;"  class="actions-two-button centrado formato">
                                                <a  href="{{ path('pais_edit', {'id' :  pais.id })}}" title="Editar">
                                                    <i class="fa fa-pencil btn btn-sm blue"></i>
                                                </a>   
                                                <a class="link-eliminar" href="javascript:void(0)"
                                                   data-url="{{ path('pais_delete', { 'id': pais.id }) }}"
                                                   data-descripcion="El país {{ pais.nombre }} se eliminará del sistema."
                                                   data-toggle="modal" data-target="#modal-delete" title="Eliminar">
                                                    <span class="red">
                                                        <i class="fa fa-trash-o btn btn-sm red"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    {% include "modal-delete.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/deleteconfig.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/table-managed.js')}}"></script>
    <script>
        $(function () {
            $("#deleteAllPaises").click(function () {
                $("#paises").submit()
            })
        });
        $('#selectAllPaises').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {

                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}