{% extends 'base.html.twig' %}

{% block title %}ViaTransportacion{% endblock %}

{% block body %}
    <h1>ViaTransportacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ via_transportacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ via_transportacion.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ via_transportacion.fecha ? via_transportacion.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ via_transportacion.fechaInsercion ? via_transportacion.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('via_transportacion_index') }}">back to list</a>

    <a href="{{ path('via_transportacion_edit', {'id': via_transportacion.id}) }}">edit</a>

    {{ include('via_transportacion/_delete_form.html.twig') }}
{% endblock %}
