{% extends 'base.html.twig' %}

{% block title %}Transitario{% endblock %}

{% block body %}
    <h1>Transitario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transitario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ transitario.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ transitario.fecha ? transitario.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ transitario.fechaInsercion ? transitario.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transitario_index') }}">back to list</a>

    <a href="{{ path('transitario_edit', {'id': transitario.id}) }}">edit</a>

    {{ include('transitario/_delete_form.html.twig') }}
{% endblock %}
