{% extends 'base.html.twig' %}

{% block title %}CondicionCompra{% endblock %}

{% block body %}
    <h1>CondicionCompra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condicion_compra.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ condicion_compra.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ condicion_compra.fecha ? condicion_compra.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ condicion_compra.fechaInsercion ? condicion_compra.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('condicion_compra_index') }}">back to list</a>

    <a href="{{ path('condicion_compra_edit', {'id': condicion_compra.id}) }}">edit</a>

    {{ include('condicion_compra/_delete_form.html.twig') }}
{% endblock %}
