{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-toastr/toastr.min.css')}}"/>
    <link href="{{ asset('plugins/datetimepicker/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block rootmenuGestionesManifiesto %}
    class="start active open"
{% endblock %}
{% block rootmenugestionesmanifiestoarrow %}
    open
{% endblock %}
{% block rootmenurectificacionesDesglosesManifiesto %} class="active" {% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Inicio</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Gestiones de Manifiesto</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('rectificacion_desglose_manifiesto_index') }}">Rectificaciones de desgloses de manifiesto
                        </a>
                        <i class="fa fa-angle-right"></i>
                        <a href="#">Modificar</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable tabbable-custom boxless tabbable-reversed">
                        <div class="tab-content">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate' }}) }}
                            <div class="tab-pane active" id="tab_0">
                                <div class="portlet light bg-inverse">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="font-red-sunglo"></i>
                                            <span class="caption-subject font-red-sunglo bold">Modificar rectificación de desglose de manifiesto</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="actions btn-set">
                                            <button type="button" class="btn default" id="volveratras"><i class="fa fa-angle-double-left"></i> Volver atrás</a></button>
                                            <button class="btn green" {{ form_widget(form.Guardar)}}</button>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.numeroMBL.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Número de MBL:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.numeroMBL, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.numeroMBL.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.numeroMBL)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.numeroManifiesto.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Número de Manifiesto:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.numeroManifiesto, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.numeroManifiesto.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.numeroManifiesto)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.contenedor.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Contenedor:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.contenedor, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.contenedor.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.contenedor)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.naviera.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Naviera:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.naviera, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.naviera.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.naviera)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.aduaman.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Aduaman:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.aduaman, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.aduaman.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.aduaman)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.tipo.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Tipo:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.tipo, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.tipo.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.tipo)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.multa.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Multa:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.multa, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.multa.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.multa)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.numeroMulta.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Número de multa:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.numeroMulta, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.numeroMulta.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.numeroMulta)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.desagrupe.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Desagrupe:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.desagrupe, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.desagrupe.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.desagrupe)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>    
                                                    <div class="form-group  {% if form.fechaNotificacionMulta.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha de notificación de multa:<span class="required"> *</span></label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker1'>
                                                                    {{form_widget(form.fechaNotificacionMulta, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaNotificacionMulta.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaNotificacionMulta)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group  {% if form.fechaRecibidaMulta.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha de recibida la multa:<span class="required"> *</span></label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker2'>
                                                                    {{form_widget(form.fechaRecibidaMulta, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaRecibidaMulta.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaRecibidaMulta)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group  {% if form.fechaReciboManifiesto.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha de recibo de manifiesto:<span class="required"> *</span></label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker3'>
                                                                    {{form_widget(form.fechaReciboManifiesto, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaReciboManifiesto.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaReciboManifiesto)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/bootstrap-toastr/toastr.min.js')}}"></script>
    <script src="{{ asset('validations/rectificacionDesgloseManifiesto.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('plugins/datetimepicker/moment.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('plugins/datetimepicker/moment-with-locales.js') }}"></script>
    <script>
        $("#volveratras").click(function ()
        {
            location.href = "{{ path('rectificacion_desglose_manifiesto_index') }}";
        })
        $('#datetimepicker1').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker2').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker3').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})

    </script>
{% endblock %}