{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-toastr/toastr.min.css')}}"/>
    <link href="{{ asset('plugins/datetimepicker/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block rootmenusolicitudesServicio %}
    class="start active open"
{% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Inicio</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('solicitud_servicio_index') }}">Solicitudes de servicio</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="#">Nueva</a> 
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable tabbable-custom boxless tabbable-reversed">
                        <div class="tab-content">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate' }}) }}
                            <div class="tab-pane active" id="tab_0">
                                <div class="portlet light bg-inverse">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="font-red-sunglo"></i>
                                            <span class="caption-subject font-red-sunglo bold">Adicionar solicitud de servicio</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="actions btn-set">
                                            <button type="button" class="btn default" id="volveratras"><i class="fa fa-angle-double-left"></i> Volver atrás</a></button>
                                            <button class="btn green" {{ form_widget(form.Guardar)}}</button>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body"> 
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    
                                                    <div class="form-group {% if form.cliente.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Cliente:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.cliente, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.cliente.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.cliente)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.cliente.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Tipo de servicio:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.tipoServicio, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.tipoServicio.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.tipoServicio)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.viaRecepcion.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Vía de recepción:<span class="required"> *</span></label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.viaRecepcion, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.viaRecepcion.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.viaRecepcion)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                           
                                                </div> 
                                            </div>
                                        </div>
                                    </div>       
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}   
    <script src="{{ asset('plugins/bootstrap-toastr/toastr.min.js')}}"></script> 
    <script src="{{ asset('validations/solicitudServicio.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('plugins/datetimepicker/moment.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('plugins/datetimepicker/moment-with-locales.js') }}"></script>
    <script>
        $("#volveratras").click(function ()
        {
            location.href = "{{ path('solicitud_servicio_index') }}";
        })
        $('#datetimepicker1').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
    </script>
{% endblock %}