{% extends 'base.html.twig' %}

{% block title %}TipoContenedor{% endblock %}

{% block body %}
    <h1>TipoContenedor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_contenedor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipo_contenedor.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ tipo_contenedor.fecha ? tipo_contenedor.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaInsercion</th>
                <td>{{ tipo_contenedor.fechaInsercion ? tipo_contenedor.fechaInsercion|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_contenedor_index') }}">back to list</a>

    <a href="{{ path('tipo_contenedor_edit', {'id': tipo_contenedor.id}) }}">edit</a>

    {{ include('tipo_contenedor/_delete_form.html.twig') }}
{% endblock %}
