{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-toastr/toastr.min.css')}}"/>
    <link href="{{ asset('plugins/datetimepicker/bootstrap-datetimepicker.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block rootmenuImportacionesExportacionesExtranjeras %}
    class="start active open"
{% endblock %}
{% block rootmenuimportacionesexportacionesarrow %}
    open
{% endblock %}
{% block rootmenuexportaciones %} class="active" {% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Inicio</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Servicios Importación Exportación Extranjeras</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('exportacion_index') }}">Exportaciones</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="#">Modificar</a> 
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable tabbable-custom boxless tabbable-reversed">
                        <div class="tab-content">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate' }}) }}
                            <div class="tab-pane active" id="tab_0">
                                <div class="portlet light bg-inverse">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="font-red-sunglo"></i>
                                            <span class="caption-subject font-red-sunglo bold">Modificar exportación</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="actions btn-set">
                                            <button type="button" class="btn default" id="volveratras"><i class="fa fa-angle-double-left"></i> Volver atrás</a></button>
                                            <button class="btn green" {{ form_widget(form.Guardar)}}</button>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body"> 
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.solicitudServicio.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Solicitud de servicio:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.solicitudServicio, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.solicitudServicio.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.solicitudServicio)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group  {% if form.fechaVisita.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha visita:</label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker5'>
                                                                    {{form_widget(form.fechaVisita, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaVisita.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaVisita)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="form-group {% if form.viaTransportacion.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Vía de transportación:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.viaTransportacion, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.viaTransportacion.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.viaTransportacion)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.condicionCompra.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Condición de compra:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.condicionCompra, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.condicionCompra.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.condicionCompra)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.puertoDestino.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Puerto destino:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.puertoDestino, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.puertoDestino.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.puertoDestino)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.puertoOrigen.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Puerto origen:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.puertoOrigen, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.puertoOrigen.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.puertoOrigen)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="form-group {% if form.direccionOrigen.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Dirección origen:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.direccionOrigen, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.direccionOrigen.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.direccionOrigen)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div> 
                                                    <div class="form-group  {% if form.fechaEstimadoServicio.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha estimada de servicio:</label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker1'>
                                                                    {{form_widget(form.fechaEstimadoServicio, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaEstimadoServicio.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaEstimadoServicio)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>  
                                                    <div class="form-group  {% if form.fechaSalidaEmbarque.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha salida de embarque:</label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker2'>
                                                                    {{form_widget(form.fechaSalidaEmbarque, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaSalidaEmbarque.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaSalidaEmbarque)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div>  
                                                    <div class="form-group  {% if form.fechaArribo.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha de arribo:</label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker3'>
                                                                    {{form_widget(form.fechaArribo, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaArribo.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaArribo)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                    <div class="form-group  {% if form.fechaEstimadaSalida.vars.valid==false %}has-error{% endif %}">
                                                        <div class="input text required">
                                                            <label class="col-md-4 control-label">Fecha estimada de salida:</label>
                                                            <div class="col-md-8">
                                                                <div class='input-group date' id='datetimepicker4'>
                                                                    {{form_widget(form.fechaEstimadaSalida, {'attr': {'class' : 'form-control'}})}}
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span> 
                                                                </div>
                                                                {% if form.fechaEstimadaSalida.vars.valid==false %}
                                                                    <span class="help-block">{{ form_errors(form.fechaEstimadaSalida)}}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                    <div class="form-group {% if form.contenedor.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Contenedor:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.contenedor, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.contenedor.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.contenedor)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.contrato.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Contrato:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.contrato, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.contrato.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.contrato)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <span style="font-size: 18px;"><b>Datos de presupuesto</b></span><br><br>
                                                    <div class="form-group {% if form.costoOrigen.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Costo de origen:</label>
                                                        <div class="col-md-5" id="costoOrigen">
                                                            {{ form_widget(form.costoOrigen, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.costoOrigen.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.costoOrigen)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="form-group {% if form.flete.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Flete/ENA/extras/Multas:</label>
                                                        <div class="col-md-3" id="flete">
                                                            {{ form_widget(form.flete, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.flete.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.flete)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>    
                                                    <div class="form-group {% if form.destino.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Destino/ hasta 1000kg-6cbm:</label>
                                                        <div class="col-md-3" id="destino">
                                                            {{ form_widget(form.destino, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.destino.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.destino)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>  
                                                    <div class="form-group {% if form.recargo.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Recargo:</label>
                                                        <div class="col-md-8" id="recargo">
                                                            {{ form_widget(form.recargo, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.recargo.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.recargo)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>     
                                                    <div class="form-group {% if form.rx.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Rx manipulación:</label>
                                                        <div class="col-md-3" id="rx">
                                                            {{ form_widget(form.rx, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.rx.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.rx)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>   
                                                    <div class="form-group {% if form.tipoMoneda.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Tipo de moneda:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.tipoMoneda, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.tipoMoneda.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.tipoMoneda)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.descripcionCarga.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Descripción de carga:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.descripcionCarga, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.descripcionCarga.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.descripcionCarga)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div> 
                                                    <div class="form-group {% if form.direccionDestino.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Dirección destino:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.direccionDestino, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.direccionDestino.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.direccionDestino)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>    
                                                    <div class="form-group {% if form.documentosRecibidos.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Documentos recibidos:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.documentosRecibidos, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.documentosRecibidos.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.documentosRecibidos)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>    
                                                    <div class="form-group {% if form.detalleServicios.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Detalle servicios:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.detalleServicios, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.detalleServicios.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.detalleServicios)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>  
                                                    <div class="form-group {% if form.observaciones.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Observaciones:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.observaciones, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.detalleServicios.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.detalleServicios)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>       
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}   
    <script src="{{ asset('plugins/bootstrap-toastr/toastr.min.js')}}"></script> 
    <script src="{{ asset('validations/exportacion.js')}}"></script>
    <script>
        $("#volveratras").click(function ()
        {
            location.href = "{{ path('importacion_index') }}";
        })
        $('#datetimepicker1').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker2').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker3').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker4').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})
        $('#datetimepicker5').datetimepicker({
            //minDate: moment().millisecond(0).second(0).minute(0).hour(0),
            format: 'DD/MM/YYYY',
            locale: 'es'})


        function calcularPresupuesto() {
            var costoOrigen = $("#exportacion_costoOrigen").val()
            var flete = $("#exportacion_flete").val()
            var destino = $("#exportacion_destino").val()
            var recargo = $("#exportacion_recargo").val()
            var rx = $("#exportacion_rx").val()

            console.log(costoOrigen);
        }
    </script>
{% endblock %}