{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap-toastr/toastr.min.css')}}"/> 
{% endblock %}
{% block rootmenuImportacionesExportacionesExtranjeras %}
    class="start active open"
{% endblock %}
{% block rootmenuimportacionesexportacionesarrow %}
    open
{% endblock %}
{% block rootmenubuques %} class="active" {% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Inicio</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="{{ path('buque_index') }}">Buques</a>
                        <i class="fa fa-angle-right"></i>
                        <a href="#">Modificar</a> 
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable tabbable-custom boxless tabbable-reversed">
                        <div class="tab-content">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate':'novalidate' }}) }}
                            <div class="tab-pane active" id="tab_0">
                                <div class="portlet light bg-inverse">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="font-red-sunglo"></i>
                                            <span class="caption-subject font-red-sunglo bold">Modificar buque</span>
                                            <span class="caption-helper"></span>
                                        </div>
                                        <div class="actions btn-set">
                                            <button type="button" class="btn default" id="volveratras"><i class="fa fa-angle-double-left"></i> Volver atrás</a></button>
                                            <button class="btn green" {{ form_widget(form.Guardar)}}</button>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <div class="form-body"> 
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group {% if form.nombre.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Nombre:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.nombre, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.nombre.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.nombre)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                        <div class="form-group {% if form.numeroViaje.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Número de viaje:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.numeroViaje, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.numeroViaje.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.numeroViaje)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                            <div class="form-group {% if form.puertoSalida.vars.valid==false %}has-error{% endif %}">
                                                        <label class="col-md-4 control-label">Puerto de salida:</label>
                                                        <div class="col-md-8">
                                                            {{ form_widget(form.puertoSalida, { 'attr': {
                                                    'class' : 'form-control',
                                                    } }) }}
                                                            {% if form.puertoSalida.vars.valid==false %}
                                                                <span class="help-block">{{ form_errors(form.puertoSalida)}}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>       
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}   
    <script src="{{ asset('plugins/bootstrap-toastr/toastr.min.js')}}"></script> 
    <script src="{{ asset('validations/buque.js')}}"></script>
    <script>
        $("#volveratras").click(function ()
        {
            location.href = "{{ path('buque_index') }}";
        })
    </script>
{% endblock %}