{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block rootmenuImportacionesExportacionesExtranjeras %}
    class="start active open"
{% endblock %}
{% block rootmenuimportacionesexportacionesarrow %}
    open
{% endblock %}
{% block rootmenubuques %} class="active" {% endblock %}
{% block body %}
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Inicio</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('buque_index') }}">Buques</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-chambray">                  
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>Buques
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="table-toolbar">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <a href="{{ path('buque_new') }}" class="btn green">
                                            <i class="fa fa-plus"></i> Adicionar 
                                        </a>
                                    </div>
                                    <a class="btn red" id="deleteAllBuques" href="javascript:void(0);">
                                        <i class="fa fa-minus"></i> Eliminar todos
                                    </a>
                                    <button type="submit" class="btn green-meadow" value="pdf" name="PDF">
                                        <i class="fa fa-file-pdf-o"></i> Exportar a PDF
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form action="{{ path('buques_delete_all') }}" method="POST" id="buques">
                            <table class="datatable table table-striped table-bordered table-hover">
                                <thead>
                                    <tr class="heading">
                                        <th class="centrado">
                                            <input type="checkbox" id="selectAllBuques"/>
                                        </th>
                                        <th class="centrado">
                                            Buque
                                        </th>
                                        <th class="centrado">
                                            Número<br>de<br>viaje
                                        </th>
                                        <th class="centrado">
                                            Puerto<br>de<br>salida
                                        </th>
                                        <th class="centrado">
                                            Acciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for buque in buques %}
                                        <tr>
                                            <td class="centrado">
                                                <input type="checkbox" value="{{ buque.id }}" name="buques[]"/>
                                            </td>  
                                            <td class="centrado">{% if buque.nombre %}{{ buque.nombre }}{% else %}-{% endif %}</td>
                                            <td class="centrado">{% if buque.numeroViaje %}{{ buque.numeroViaje }}{% else %}-{% endif %}</td>
                                            <td class="centrado">{% if buque.puertoSalida %}{{ buque.puertoSalida }}{% else %}-{% endif %}</td>
                                            <td style="width: 40%;"  class="actions-two-button centrado formato">
                                                <a  href="{{ path('buque_edit', {'id' :  buque.id })}}" title="Editar">
                                                    <i class="fa fa-pencil btn btn-sm blue"></i>
                                                </a>
                                                <a  href="{{ path('buque_show', {'id' :  buque.id })}}" title="Ver detalle">
                                                    <i class="fa fa-search-plus btn btn-sm btn-warning"></i>
                                                </a>
                                                     {% if buque.buqueActivo == false %}
                                                    <a  href="#" title="Buque desactivado">
                                                        <i class="fa fa-arrow-down btn btn-sm red"></i>
                                                    </a>
                                                {% else %}
                                                    <a  href="{{ path('desactivar_buque', {'id' :  buque.id })}}" title="Desactivar buque">
                                                        <i class="fa fa-arrow-up btn btn-sm red"></i>
                                                    </a>
                                                {% endif %}
                                                <a class="link-eliminar" href="javascript:void(0)"
                                                   data-url="{{ path('buque_delete', { 'id': buque.id }) }}"
                                                   data-descripcion="El buque {{ buque }} se eliminará del sistema."
                                                   data-toggle="modal" data-target="#modal-delete" title="Eliminar">
                                                    <span class="red">
                                                        <i class="fa fa-trash-o btn btn-sm red"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "modal-delete.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/deleteconfig.js') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset('plugins/datatables/media/js/table-managed.js')}}"></script>
    <script>
        $(function () {
            $("#deleteAllBuques").click(function () {
                $("#buques").submit()
            })
        });
        $('#selectAllBuques').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {

                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}